/*------------------------------------*\
  # Default settings
\*------------------------------------*/

* {
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  max-width: 1080px;
  min-height: 100vh;
  font-weight: 500;
}


/*------------------------------------*\
  # Header
\*------------------------------------*/

.header {
  margin-top: 40px;
  display: flex;
}

.navigation {
  position: absolute;
  width: 100%;
  max-width: 1080px;
  top: 0;
  padding: 16px 24px;
  background-color: #7abcac;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: -1;
}

.language-select {
  text-align: center;
  padding: 8px;
  background: #c4c4c4;
  cursor: pointer;
  border: none;
  outline: none;
  appearance: none;
}

.header-name-container {
  margin: 0 auto;
  display: inline-block;
  border: 4px solid #000000;
  padding: 43px 114px;
  text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.header-name-container div {
  text-align: center;
  background: #000000;
  font-weight: 700;
  font-size: 24px;
  width: 240px;
  padding: 8px;
  color: #ffffff;
  margin-bottom: 44px;
  margin: 0 auto;
}

/*------------------------------------*\
  # Main
\*------------------------------------*/

.content {
  margin-top: 72px;
}

.content article,
.skills-content {
  display: flex;
  justify-content: space-between;
}

.experience-content article {
  margin: 40px 0;
}

/*------------------------------------*\
  # Footer
\*------------------------------------*/

.contact-content {
  display: flex;
  justify-content: space-around;
}

/*------------------------------------*\
  # Responsive
\*------------------------------------*/

@media only screen and (max-width: 600px) {
  .header-name-container {
    width: 100%;
    padding: 40px;
  }

  .content article, .skills-content{
    flex-direction: column;
  }
  
  .contact-content{
    flex-direction: column;
    align-items: center;
  }
}